.footer {
  // background: map-get($color, gray-b);
  color: map-get($color, secondary);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}
