
.page-header {
  // @include box-shadow( 0 2px 5px 0 map-get($color, rgba-black));
  background: map-get($color, gray-b);
  text-align: center;
  position: relative;
  height: 100%;
  width: $sidebarWidth;
  float: left;
  .header-top,
  .header-toolbar {
    padding: 15px;
  }
  .header-top {
    background-color: map-get($color, gray-a);
  }
  .logo {
    height: auto;
    width: 100%;
  }
}
