.terminal {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #eff2f3;
  border: 1px solid #d1dade;
  border-radius: 2px;
}