* {
  box-sizing: border-box;
}
body {
  background: map-get($color, white);
  font-family: map-get($font-family, body);
  font-size: map-get($font-size, normal);
}
h1, h2, h3, h4, h5, h6 {
  font-family: map-get($font-family, body);
  color: map-get($color, secondary);
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 15px;
}
h2 {
  font-size: map-get($font-size, lg);
}
p {
  margin: 0;
}
.show {
  display: inline-block !important;
}
.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
