// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$sidebarWidth: 112px;
$color: (
  primary: #f47c48,
  hover-color: #f47c48,
  secondary: #424242,
  border: #eeeeee,
  white: #ffffff,
  white-c: #fbfbfb,
  white-e: #eeeeee,
  rgba-black: rgba(0, 0, 0, 0.07),
  rgba-black-a: rgba(0, 0, 0, 0.13),
  gray: #a7a5a5,
  gray-a: #e8e7e7,
  gray-b: #f3f3f3,
  red: #d35344,
  alert-success-bg: #f47c48,
  alert-success-border: darken(adjust-hue(#f47c48, -10), 5%),
  alert-info-bg: #2f96b4,
  alert-info-border: darken(adjust-hue(#2f96b4, -10), 7%),
  alert-warning-bg: #f89406,
  alert-warning-border: darken(adjust-hue(#f89406, -10), 5%),
  alert-danger-bg:#bd362f,
  alert-danger-border: darken(adjust-hue(#bd362f, -10), 5%),
);

$font-size: (
  xs: 10px,
  sm: 12px,
  normal: 14px,
  md: 20px,
  lg: 24px,
  xl: 40px
);
$font-family: (
  body: "montserrat, sans-serif",
);
